.profile_image_responsive{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid #3f51b5;

}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr td{
    padding: 20px 50px;
    border: 0.5px solid rgb(235, 230, 238);
}