/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #e9ebf0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center{
    text-align: center;
}
.imagesize{
    width: 30%;
    height: 30%;
}
.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}

.ml10{
    margin-left: 10px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mb10{
    margin-bottom: 10px !important;
}
.backg {
    /* Location of the image */
    background-image: url(assets/backgroundphoto.png);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;

    }
